#### Data preperation for training CLIP-GPT2 model with AVA-captions dataset

In [1]:
import os
import shutil
import pandas as pd
from transformers import GPT2Tokenizer
from sklearn.model_selection import train_test_split

In [2]:
tokenizer = GPT2Tokenizer.from_pretrained("gpt2")

In [13]:
## DATA PREPERATION
#captions_file = "../datasets/AVA/AVA-captions_clean_full.feather"
#data = pd.read_feather(captions_file)
#data.rename(columns={"filename": "image_id", "clean_sentence": "caption"}, inplace=True)

captions_file = "../datasets/flickr8k/captions.txt"
data = pd.read_csv(captions_file, sep=',')
data.rename(columns={"image": "image_id", "caption": "caption"}, inplace=True)
data.head()

,image_id,caption
0,1000268201_693b08cb0e.jpg,A child in a pink dress is climbing up a set o...
1,1000268201_693b08cb0e.jpg,A girl going into a wooden building .
2,1000268201_693b08cb0e.jpg,A little girl climbing into a wooden playhouse .
3,1000268201_693b08cb0e.jpg,A little girl climbing the stairs to her playh...
4,1000268201_693b08cb0e.jpg,A little girl in a pink dress going into a woo...

In [4]:
grouped_df = data.groupby("image_id")['caption'].apply(list)

In [5]:
grouped_df = grouped_df.reset_index()

In [10]:
grouped_df.rename(columns={"caption": "captions"}, inplace=True)
grouped_df.head()

    image_id                                           captions
0   1000.jpg  [great composition! the yellow of the glider i...
1  10000.jpg  [great job here. i like the arrangement of the...
2  10002.jpg  [just a little hard to see the bubbles on the ...
3  10003.jpg  [too dark. otherwise good macro. good focus on...
4  10005.jpg  [interesting idea. the detail in the fingertip...

In [11]:
grouped_df.to_feather("../CLIP-GPT2/data/clip-gpt2/reference.feather")

In [8]:
len(grouped_df)

240047

In [4]:
# data['label'] = data['caption'].apply(lambda x: tokenizer.encode(x))
# data.head()

,image_id,caption,label
0,953417.jpg,. nice! you have mad macro skills! you'll noti...,"[13, 3621, 0, 345, 423, 8805, 15021, 4678, 0, ..."
1,953417.jpg,funny shot. very nice perspective and lovely c...,"[12543, 3281, 2823, 13, 845, 3621, 6650, 290, ..."
2,953777.jpg,on your profile page. i suspect you will be ro...,"[261, 534, 7034, 2443, 13, 1312, 4099, 345, 48..."
3,953777.jpg,awesome picture! great angle and lighting and ...,"[707, 5927, 4286, 0, 1049, 9848, 290, 12019, 2..."
4,953777.jpg,that's really within meters of your house? if ...,"[5562, 338, 1107, 1626, 10700, 286, 534, 2156,..."

In [9]:
data = grouped_df

In [14]:
train, validate_test = train_test_split(data, test_size=0.1, random_state=42)

In [15]:
validate, test = train_test_split(validate_test, test_size=0.5, random_state=42)

In [16]:
train = train.reset_index(drop=True)        # 90% train
validate = validate.reset_index(drop=True)  # 5% validate
test = test.reset_index(drop=True)          # 5% test

In [17]:
print(len(train))
print(len(validate))
print(len(test))

36409
2023
2023

In [18]:
train_loc = "../CLIP-GPT2/data/clip-gpt2/train.feather"
validate_loc = "../CLIP-GPT2/data/clip-gpt2/validate.feather"
test_loc = "../CLIP-GPT2/data/clip-gpt2/test.feather"

train_loc = "../CLIP-GPT2/data/clip-gpt2/flickr/train.csv"
validate_loc = "../CLIP-GPT2/data/clip-gpt2/flickr/validate.csv"
test_loc = "../CLIP-GPT2/data/clip-gpt2/flickr/test.csv"

In [25]:
train.to_feather(train_loc)
validate.to_feather(validate_loc)
test.to_feather(test_loc)

In [20]:
train.to_csv(train_loc, sep=",", index=False)
validate.to_csv(validate_loc, sep=",", index=False)
test.to_csv(test_loc, sep=",", index=False)